<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBinnWBOqL-WQfTVW5y-Esf8AKhfKbcEgk</string>
	<key>GCM_SENDER_ID</key>
	<string>377070373526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evrisevr.MotaNet</string>
	<key>PROJECT_ID</key>
	<string>motanet-ca3e7</string>
	<key>STORAGE_BUCKET</key>
	<string>motanet-ca3e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377070373526:ios:8912df2fdb77c9262210b7</string>
</dict>
</plist>